@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #393C41;
    color: white;
    user-select: none;
    animation: fade 1s linear;
}

/*Fade animation*/
@keyframes fade {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
} 

header {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header h1 {
    font-size: 70px;
    text-align: center;
    font-weight: 200;
}

.levels {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.level {
    background-color: #212326;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    transition: all 0.25s ease-in-out;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.33);
}

.level:hover {
    transform: translate(0px, 10px);
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.5);
}

.levelCard {
    background-color: #131415;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.levelName {
    font-size: 44px;
    color: #979797;
    font-weight: 200;
}

.levelDesc {
    font-size: 30px;
    font-weight: 200;
}

.levelDesc span {
    font-weight: 500;
}

.startButton {
    margin-top: 60px;
    width: 50%;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    color: #fff;
    background-color: #8697F6;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    transition: all ease 0.25s;
}

.startButton:hover {
    background-color: #647bff;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #647bff;
    transform: scale(1.1);
}

footer {
    text-align: center;
    margin: 40px 0px;
    font-size: 40px;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: all ease 0.3s;
}

footer a:hover {
    color: #000;
    font-size: 44px;
}